body {
	margin: 0 40px;
}

.sidebar {
	background-color: transparent !important;
	grid-area: sidebar;
}

/* .sidebar2 {
	grid-area: sidebar2;
	background-color: #ccc;
	color: #444;
} */

.content {
	grid-area: content;
}

.header {
	grid-area: header;
}

.footer {
	grid-area: footer;
}

.wrapper {
	background-color: transparent;
	color: #444;
	display: grid;
	margin: 0 auto;
	grid-gap: 1em;
	grid-template-areas:
		'header'
		'sidebar'
		'content'
		'footer'
}
.content--wrapper {
	width: 100%;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(4, calc(25% - 20px));
}

@media only screen and (min-width: 500px)  {
	.wrapper {
		grid-template-columns: 20% auto;
		grid-template-areas:
			'header   header'
			'sidebar  content'
			'footer   footer';
	}
}

@media only screen and (min-width: 600px)   {
	.wrapper {
		grid-gap: 20px;
		grid-template-columns: 178px auto;
		grid-template-areas:
			'header  header'
			'sidebar content'
			'footer  footer';
		max-width: 90%;
	}
}

.box {
	background-color: #fafafa;
	color: #fff;
	border-radius: 5px;
	padding: 10px;
	font-size: 150%;
}

.box.content {
    background-color: transparent;
}

.box--card {
	background: white;
	border-radius: 3px;
	min-height: 98px;
}

.box--card h2{
	font-size: 16px;
}

.box--card a {
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
}

.header,
.footer {
	background-color: #999;
}

.identity {
	display: block;
	float: none;
	margin: 0 auto;
	overflow: hidden;
	text-transform: uppercase;
}

#site-title {
    margin: 0;
}

#site-title a {
	text-decoration: none;
	display: block;
	border-top: 1px solid;
	border-bottom: 1px solid;
	color: #444;
	font-size: 16px;
}

#site-description {
	color: #AEAEAE;
	margin: 0.5em auto 0;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: .05em;
	font-size: 80%;
	font-weight: 400;
}
